<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <%= yield %>
  </body>
  <footer>
    <p>5,000 <a href="http://digitsofpi.com/Top-5000-Digits-Of-Pi.htm" target="_blank">decimals of PI</a> as in-game baseball inning scores.</p>
    <p>A hack for <a href="http://www.baseballhackday.com/boston/" target="_blank">Boston Baseball Hackday 2019</a> by <a href="https://github.com/dthyresson/baseball-pi-day" target="_blank">A. David Thyresson</a>.</p>
    <p>Design inspired by <a href="http://mkweb.bcgsc.ca/pi/piday/posters.mhtml">2013 PI Day Poster</a> by <a href="http://mkweb.bcgsc.ca/" target="_blank">Martin Krzywinski</a>.</p>
  </footer>
</html>
